<footer class="container-fluid bg-light">
    <div class="row">
        <section class="col">
            col1
        </section>

        <section class="col">
            col2
        </section>

        <section class="col">
            col3
        </section>
    </div>
</footer>